*{
    padding:0;
    margin:0;
    font-family: sans-serif;
    box-sizing:border-box;
    color:#fff;
}
html,
body{
    height:100%;
    width:100%;
}
body{
    background-color: #111;
    display: flex;
    justify-content:center;
    align-items:center;
}
h1{
    font-size:100px;
    overflow: hidden;
}

h1 span{
    display:inline-block;
}
